* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
header {
  background-color: cornflowerblue;
  width: 100%;
  padding: 1.5rem 1.5rem;
}
header h1 {
  font-size: 50px;
}
header h3 {
  font-size: 25px;
}

nav {
  background-color: black;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 1rem;
}
nav ul li {
  display: flex;
}
nav ul li a {
  padding: 0.75rem 1rem;
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
}
nav ul li a:hover {
  background-color: rgb(89, 0, 255);
  transform: scale(1.15);
}
main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
section.left,
section.right {
  padding: 1rem;
}
main section p {
  font-size: 1.3rem;
  text-align: left;
  margin: 15px 0px;
  text-indent: 42px;
}
main section h1 {
  font-size: 2.5rem;
  text-align: center;
}
.active {
  background-color: rgb(89, 0, 255);
}
section.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 250px;
}
section.left {
  flex: 4 1 375px;
}
section.right.p {
  padding: 1.5rem 1rem;
}
iframe {
  border-radius: 20px;
  margin-bottom: 30px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 0.5rem 0.75rem;
}
th {
  background-color: gray;
  color: white;
  font-size: 1.1rem;
}
td:hover {
  background-color: coral;
  transform: scale(1.1);
}
th:hover {
  background-color: cornflowerblue;
}
table {
  text-align: center;
  margin: auto;
  width: 450px;
  height: 300px;
}
img {
  width: 800px;
  height: 400px;
  transition: all 0.5s;
  cursor: not-allowed;
}
img:hover {
  transform: scale(1.1);
}
td {
  transition: all 0.5s ease;
}
body {
  background-image: url(https://static.wixstatic.com/media/cf494e_af3ae68dbe054452bb43c756e9a4b201~mv2.jpeg);
  background-repeat: repeat;
  background-size: 200px 200px;
}
@media screen and (max-width: 620px) {
  nav ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  img {
    width: 100%;
    height: 30%;
  }
  table {
    width: 100%;
    height: 60%;
  }
  header {
    width: 100%;
  }
  nav ul li a:hover {
    background-color: #000;
    transform: scaleX(1.1);
  }
  nav ul li a {
    transition: all 0.5s;
  }
  .active {
    background-color: #000;
  }
}
